{% extends "base.html" %}

{% block title %}Child Form{% endblock %}
{% block head %}
    {{ super() }} <!-- This ensures that any existing styles or scripts in the base template are preserved -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_child.css') }}">
{% endblock %}
{% block content %}
<h2>Child Form</h2>
<form method="POST" action="{{ url_for('add_child') }}">
    
    <div>
        {{ form.hidden_tag() }} 
    </div>
    <div>
        {{ form.first_name.label }} {{ form.first_name(size=32) }}
    </div>
    <div>
        {{ form.last_name.label }} {{ form.last_name(size=32) }}
    </div>
    <div>
        {{ form.date_of_birth.label }} {{ form.date_of_birth() }}
    </div>
    <div>
        {{ form.pesel.label }} {{ form.pesel() }}
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}