{% extends "base.html" %}


{% block title %}Leave Form{% endblock %}

{% block head %}
    {{ super() }} <!-- This ensures that any existing styles or scripts in the base template are preserved -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/create_leave.css') }}">
{% endblock %}

{% block content %}


<h2>Formularz zwolnienia</h2>
<form method="POST" action="{{ url_for('create_leave') }}">
    <div>
        {{ form.hidden_tag() }} 
    </div>
    <div class="form-group">
        {{ form.main_parent_id.label }} 
        {{ form.main_parent_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.child_id.label }} 
        {{ form.child_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.spouse_id.label }} 
        {{ form.spouse_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.date_from.label }} 
        {{ form.date_from(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.date_to.label }} 
        {{ form.date_to(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.l4_num.label }} 
        {{ form.l4_num(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.sign_date.label }} 
        {{ form.sign_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.total_days.label }} 
        {{ form.total_days(class="form-control") }}
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}