{% extends "base.html" %}


{% block title %}Leave Form{% endblock %}

{% block head %}
    {{ super() }} <!-- This ensures that any existing styles or scripts in the base template are preserved -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_leave.css') }}">
{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 30px;
    }
    h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    .form-control {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }
    button[type="submit"]:hover {
        background-color: #45a049;
    }
    .form-group {
        margin-bottom: 15px;
    }
</style>

<h2>Leave Form</h2>
<form method="POST" action="{{ url_for('create_leave') }}">
    <div>
        {{ form.hidden_tag() }} 
    </div>
    <div class="form-group">
        {{ form.main_parent_id.label }} 
        {{ form.main_parent_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.child_id.label }} 
        {{ form.child_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.spouse_id.label }} 
        {{ form.spouse_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.date_from.label }} 
        {{ form.date_from(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.date_to.label }} 
        {{ form.date_to(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.l4_num.label }} 
        {{ form.l4_num(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.sign_date.label }} 
        {{ form.sign_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.total_days.label }} 
        {{ form.total_days(class="form-control") }}
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}