{% extends "base.html" %}

{% block title %}Leave Form{% endblock %}

{% block content %}
<h2>Leave Form</h2>
<form method="POST" action="{{ url_for('create_leave') }}">

    <div>
        {{ form.hidden_tag() }} 
    </div>
    <div>
        {{ form.main_parent_id.label }} {{ form.main_parent_id(class="form-control") }}
    </div>
    <div>
        {{ form.child_id.label }} {{ form.child_id(class="form-control") }}
    </div>
    <div>
        {{ form.spouse_id.label }} {{ form.spouse_id(class="form-control") }}
    </div>
    
    <div>
        {{ form.date_from.label }} {{ form.date_from() }}
    </div>
    <div>
        {{ form.date_to.label }} {{ form.date_to() }}
    </div>
    
    <div>
        {{ form.sign_date.label }} {{ form.sign_date() }}
    </div>

    <div>
        {{ form.total_days.label }} {{ form.total_days() }}
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}