{% extends "base.html" %}

{% block title %}Lista wniosków{% endblock %}

{% block head %}
    {{ super() }} <!-- Ensures that any existing styles or scripts in the base template are preserved -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/leaves.css') }}">
{% endblock %}

{% block content %}

    <h2>Lista wniosków</h2>
    <table class="table mt-4">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Data od</th>
                <th>Data do</th>
                <th>ID Dziecka</th>
                <th>ID Rodzica</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leaves %}
            <tr>
                <td>{{ leave.id }}</td>
                <td>{{ leave.date_from }}</td>
                <td>{{ leave.date_to }}</td>
                <td>{{ leave.child_id }}</td>
                <td>{{ leave.main_parent_id }}</td>
                <td>
                    <form action="{{ url_for('delete_leave', leave_id=leave.id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}